/* img {
  width: 100%;
  height:100%;

}
*/
#logoPic {
  width: 75%;
  height:75%;

} 

/* .landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;  
  margin-bottom: -50px;
} */

#main-dash {
  position: fixed;
}
. {
  text-align: center;

}

TabContainer{
  position: relative;
}


.-logo {
  animation: -logo-spin infinite 20s linear;
  height: 40vmin;
}

.-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .navb {
  position: fixed;
} */

.-link {
  color: #61dafb;
}

@keyframes -logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14pt
}

Button {
   
  background-color: black
}

.companyImage {

  max-width: 120px;
  max-height: 120px;
  /* padding: 100px */

}



